body {
    background-color: goldenrod;
    display: flex;
    justify-content: center;
}

.status {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}

.square {
    height: 150px;
    width: 150px;
    vertical-align: top;
    border-radius: 0;
    border-spacing: 0;
    font-size: 5em;
    font-weight: bold;
    margin: -1px;
    
}
.square:active {
    border-style: outset;
}
